export TFE_PARALLELISM=1
export GOPRIVATE=github.com/atricore/*,github.com/atricore/josso-api-go,github.com/atricore/josso-sdk-go,github.com/atricore/terraform-provider-siteminder,github.com/atricore/siteminder-rest-api